<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-notificare-scannables"
        version="3.1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Notificare Scannables</name>

    <js-module name="NotificareScannables" src="build/notificare-scannables.bundle.js">
        <clobbers target="NotificareScannables" />
        <merges target="cordova.plugins.NotificareScannables" />
    </js-module>

    <asset src="build/notificare-scannables.bundle.js.map" target="plugins/notificare-scannables/build/notificare-scannables.bundle.js.map" />

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <preference name="AndroidXEnabled" value="true" />

            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinVersion" value="1.6.10" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="NotificareScannables">
                <param name="android-package" value="re.notifica.scannables.cordova.NotificareScannablesPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NotificareScannables">
                <param name="android-package" value="re.notifica.scannables.cordova.NotificareScannablesPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="re.notifica.scannables.ScannableActivity"
                    android:exported="false"
                    android:theme="@style/Theme.AppCompat.Light" />
        </config-file>

        <source-file src="src/android/NotificareScannablesPlugin.kt" target-dir="app/src/main/kotlin/re/notifica/scannables/cordova" />
        <source-file src="src/android/NotificareScannablesPluginEventBroker.kt" target-dir="app/src/main/kotlin/re/notifica/scannables/cordova" />

        <framework custom="true" src="src/android/build-extras.gradle" type="gradleReference" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NotificareScannables">
                <param name="ios-package" value="NotificareScannablesPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/NotificareScannablesPlugin.swift" />
        <source-file src="src/ios/NotificareScannablesPluginEventBroker.swift" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="Notificare/NotificareScannablesKit" spec="3.1.0" />
            </pods>
        </podspec>
    </platform>
</plugin>
