<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-notificare"
        version="3.1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Notificare</name>

    <js-module name="Notificare" src="build/notificare.bundle.js">
        <clobbers target="Notificare" />
        <merges target="cordova.plugins.Notificare" />
    </js-module>

    <asset src="build/notificare.bundle.js.map" target="plugins/notificare/build/notificare.bundle.js.map" />

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <preference name="AndroidXEnabled" value="true" />
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinVersion" value="1.6.10" />
        </config-file>

        <config-file parent="/widget" target="res/xml/config.xml">
            <feature name="Notificare">
                <param name="android-package" value="re.notifica.cordova.NotificarePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Notificare">
                <param name="android-package" value="re.notifica.cordova.NotificarePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <receiver android:name="re.notifica.cordova.NotificarePluginReceiver" android:exported="false" />
        </config-file>

        <source-file src="src/android/NotificarePlugin.kt" target-dir="app/src/main/kotlin/re/notifica/cordova" />
        <source-file src="src/android/NotificarePluginEventBroker.kt" target-dir="app/src/main/kotlin/re/notifica/cordova" />
        <source-file src="src/android/NotificarePluginReceiver.kt" target-dir="app/src/main/kotlin/re/notifica/cordova" />

        <framework custom="true" src="src/android/build-extras.gradle" type="gradleReference" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Notificare">
                <param name="ios-package" value="NotificarePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/NotificarePlugin.swift" />
        <source-file src="src/ios/NotificarePluginEventBroker.swift" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="Notificare/NotificareKit" spec="3.1.0" />
            </pods>
        </podspec>
    </platform>
</plugin>
